.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5em;
    row-gap: 1em;
    max-width: 70vw;
    margin: auto;

    /* justify-content: space-around; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    width: 70vw;
    margin: auto; */
}

.hamsterCard {
    border: 1px solid grey;
    padding: 2em;
    margin: auto;
}

.loadInfo {
    display: flex;
    border: 1px solid grey;
    padding: 2em;
}