body {
    /* background-color:#96fbc4; */
    /* background-image: linear-gradient(to bottom right, #7661BC 0% 65%, #9558B7 85% 100%); */
    background-color: #C8BDED;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 2em;
    margin: 0.5em 2em 1em 2em;
}

h3{
    font-size: 1.5em;
    margin: 1em 2em 0.5em 2em;
}

/* Navigation */
.active {
    background-color: #C8BDED;
    color: rgb(14, 1, 22);
}

header {
    background-color: #5942A4;
    color: honeydew;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1em;
    height: 12vh;
}

header .navLink {
    padding: 0.2em;
    font-size: 1.2em;
}

.heading {
    font-size: 3em;
    margin-bottom: 0.5em;
}

img {
    height: 30vh;
}

.navLink:link, .heading:link {
    text-decoration: none;
}

.navLink:visited, .heading:visited {
    text-decoration: none;
    color: honeydew;
}

.navLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.heading:hover{
    cursor: pointer;
    text-decoration: none;
}

.navLink:active, .heading:active {
    text-decoration: none;
}

main {
    padding: 1em;
}