body {
    /* background-color:#96fbc4; */
    /* background-image: linear-gradient(to bottom right, #7661BC 0% 65%, #9558B7 85% 100%); */
    background-color: #C8BDED;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
}
